.*.swp
.libs
.deps
*.o
*.lo
*.rc
*.exe
*.rpm
*.spec
*.tar.gz
*~
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doxygen.cfg
findrequires.pl
install-sh
isccwrap.sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
mingw32-config.cache
missing
Makefile
Makefile.in
rpmbuild.log
stamp-h1
wsgate/wsgate
wsgate/bindhelper
wsgate/doc/
