.*.swp
.deps
*.o
*.rc
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
Makefile
Makefile.in
stamp-h1
wsgate
