[global]
debug = true
bindaddr = 127.0.0.1
port = 80
hostname = localhost
logfacility = LOCAL6
# logmask = WARN|ERR|INFO

[http]
documentroot = webroot

[ssl]
# port = 443
# bindaddr = 127.0.0.1
# certfile = test.pem
# certpass = 1q2w3ewusel
